<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>918701732824-muqe4855cel1c0hqrvushm0072ep8t4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918701732824-muqe4855cel1c0hqrvushm0072ep8t4q</string>
	<key>API_KEY</key>
	<string>AIzaSyBEw3O2el7FPBEKMBG_uK8TdKfWYSt2n0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>918701732824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indianic.FirebaseSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>twitter-8069a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-8069a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918701732824:ios:c20ce58845632936</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-8069a.firebaseio.com</string>
</dict>
</plist>